<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-8">
				<p class="lead mb-0">Administration</p>
				<h1 class="display-3 mt-0">{{ event.name }}</h1>
				<p class="lead mt"> {{ event.start_date | date }} | <i class="fa fa-key" aria-hidden="true"></i> <code>{{ event.passphrase }}</code></p>
				<p class="lead mt">{{ event.description }}</p>
			</div>
			<div class="col-md-4 text-md-right text-left">
				<div class="">
					<button type="button" class="btn btn-lg btn-outline-primary mb-1" ui-sref="eventDrinks({ id: event.id })">Drinks</button>
					<button type="button" class="btn btn-lg btn-outline-primary mb-1" ng-click="updateDrinklist()">Update Drinklist</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="">
				<h3>Spirits inventory</h3>
				<form class="input-group validation mb-2" name="addSpiritForm" ng-submit="addSpiritForm.$valid && addSpiritToInventory(spiritID)">
					<input type="text" class="form-control" ng-model="spiritID" placeholder="Add spirit..." autocomplete="off" ng-model-options="{ allowInvalid: true }" ng-pattern="onlyID" bs-typeahead auto-select="true" bs-options="spirit.id as spirit.name for spirit in spirits" template-url="views/supports/dropdown-suggestion-template.html" required>
					<div class="input-group-btn">
						<button type="submit" class="btn btn-outline-primary" ng-disabled="addSpiritForm.$invalid">Add</i></button>
					</div>
				</form>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th class="button-col">Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="spirit in spiritinventory">
						<th>{{ spirit.name }}</th>
						<td class="text-center"><button type="button" class="btn btn-outline-danger btn-sm" ng-click="removeSpiritFromInventory(spirit.spirit_id)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<div class="">
				<h3>Mixers inventory</h3>
				<form class="input-group validation mb-2" name="addMixerForm" ng-submit="addMixerForm.$valid && addMixerToInventory(mixerID)">
					<input type="text" class="form-control" ng-model="mixerID" placeholder="Add mixer..." autocomplete="off" ng-model-options="{ allowInvalid: true }" ng-pattern="onlyID" bs-typeahead auto-select="true" bs-options="mixer.id as mixer.name for mixer in mixers" template-url="views/supports/dropdown-suggestion-template.html" required>
					<div class="input-group-btn">
						<button type="submit" class="btn btn-outline-primary" ng-disabled="addMixerForm.$invalid">Add</i></button>
					</div>
				</form>
			</div>
			<table class="table table-hover">
		        <thead>
		            <tr>
		                <th>Name</th>
						<th class="button-col">Remove</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="mixer in mixerinventory">
		                <th>{{ mixer.name }}</th>
						<td class="text-center"><button type="button" class="btn btn-outline-danger btn-sm" ng-click="removeMixerFromInventory(mixer.mixer_id)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
</div>
