<div class="container mt-3">
    <h1 class="display-4">Events</h1>
    <p class="lead">Create an event to see what's mixable!</p>
    <button type="button" name="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#createEventModal">Create new event</button>
    <!-- TODO: Sortable by table headers -->
    <input class="form-control mb-2 mt-2" placeholder="Search events..." autocomplete="off" ng-model="searchfilter">
    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th class="button-col">Drinks</th>
                <th class="button-col">Splash</th>
                <th>Administer</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="event in events | filter:searchfilter">
                <th>{{ event.name }}</th>
                <td>{{ event.start_date | date }}</td>
                <td><button type="button" class="btn btn-outline-primary btn-sm">Drinks</button></td>
                <td><button type="button" class="btn btn-outline-primary btn-sm">Splash</button></td>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Password" autocomplete="off">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-secondary btn-sm" id="test" ui-sref="event({id: event.id})">Administer</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Create new event modal -->
    <div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="createEventModalLabel" aria-hidden="true" ng-controller="AddEventController">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createEventModalLabel">Create new event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="newEventForm" class="validation" novalidate>
                        <div class="form-group">
                            <input type="text" class="form-control" id="eventName" placeholder="Event name" ng-model="form.name" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="eventDescription" rows="2" placeholder="Description (optional)" ng-model="form.description"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control" id="eventDate" placeholder="Date" ng-model="form.date" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control password" id="eventPass" placeholder="Event password" ng-model="form.password" required>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                    <button type="button" class="btn btn-outline-primary" ng-disabled="newEventForm.$invalid" ng-click="submit()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
