<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-8">
				<p class="lead mb-0">Administration</p>
				<h1 class="display-3 mt-0">Mottagningspub</h1>
				<p class="lead mt">Mar 10, 2017 | <i class="fa fa-key" aria-hidden="true"></i> <code>secretpassword</code></p>
				<p class="lead mt">Description of event goes here, like onsdagspub</p>
			</div>
			<div class="col-md-4 text-md-right text-left">
				<div class="">
					<button type="button" class="btn btn-lg btn-outline-primary mb-1">Drinks</button>
					<button type="button" class="btn btn-lg btn-outline-primary mb-1">Splash</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="d-flex justify-content-between mb-2">
			<h3>Spirits inventory</h3>
			<div class="col-5">
				<form class="input-group validation" name="addSpiritForm" ng-submit="addSpiritForm.$valid && addSpiritToInventory(spiritID)">
					<input type="text" class="form-control" ng-model="spiritID" placeholder="Add spirit..." autocomplete="off" ng-model-options="{ allowInvalid: true }" ng-pattern="onlyID" bs-typeahead auto-select="true" bs-options="spirit.id as spirit.name for spirit in spirits" template-url="views/supports/dropdown-suggestion-template.html" required>
					<div class="input-group-btn">
						<button type="submit" class="btn btn-outline-primary" ng-disabled="addSpiritForm.$invalid">Add</i></button>
					</div>
				</form>
			</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>ABV</th>
				<th class="button-col">Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>{{ spirit.name }}</th>
				<td>{{ spirit.type }}</td>
				<td>{{ spirit.abv + '%' }}</td>
				<td class="text-center"><button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i></button></td>
			</tr>
		</tbody>
	</table>
	<div class="d-flex justify-content-between mb-2 mt-5">
			<h3>Mixers inventory</h3>
			<div class="col-5">
				<form class="input-group validation" name="addMixerForm" ng-submit="addMixerForm.$valid && addMixerToInventory(mixerID)">
					<input type="text" class="form-control" ng-model="mixerID" placeholder="Add mixer..." autocomplete="off" ng-model-options="{ allowInvalid: true }" ng-pattern="onlyID" bs-typeahead auto-select="true" bs-options="mixer.id as mixer.name for mixer in mixers" template-url="views/supports/dropdown-suggestion-template.html" required>
					<div class="input-group-btn">
						<button type="submit" class="btn btn-outline-primary" ng-disabled="addMixerForm.$invalid">Add</i></button>
					</div>
				</form>
			</div>
	</div>
	<table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
				<th class="button-col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ mixer.name }}</th>
                <td>{{ mixer.type }}</td>
				<td class="text-center"><button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
