<h1 class="display-4">Mixers</h1>
<p class="lead">Mixers are what goes in a drink besides the liquor. This could be juices, decoration etc.<br>Missing something? <a href="">Shoot us an email.</a></p>
<!-- TODO: Sortable by table headers -->
<!-- TODO: Filtering options  -->
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="mixer in mixers">
      <th>{{ mixer.name }}</th>
      <td>{{ mixer.type }}</td>
    </tr>
  </tbody>
</table>
