.button-col {
	/* Forces to min size */
	width: 1px;
}

#loading-bar .bar {
  background: #f00;
}

#loading-bar .peg {
  -webkit-box-shadow: #f00 1px 0 6px 1px;
     -moz-box-shadow: #f00 1px 0 6px 1px;
      -ms-box-shadow: #f00 1px 0 6px 1px;
          box-shadow: #f00 1px 0 6px 1px;
}

[ui-view].ng-enter {
    transition: all 0.1s linear;
    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}
