.button-col {
	/* Forces to min size */
	width: 1px;
}

#loading-bar .bar {
  background: #f00;
}

#loading-bar .peg {
  -webkit-box-shadow: #f00 1px 0 6px 1px;
     -moz-box-shadow: #f00 1px 0 6px 1px;
      -ms-box-shadow: #f00 1px 0 6px 1px;
          box-shadow: #f00 1px 0 6px 1px;
}

[ui-view].ng-enter {
    transition: all 0.2s linear;
    opacity: 0;
}

[ui-view].ng-enter-active {
	opacity: 1;
}

input.password {
	font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 95%;
}

.validation .ng-invalid.ng-dirty {
	border-color: #d9534f;
}
.validation .ng-valid.ng-dirty.ng-not-empty {
	border-color: #5cb85c;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
	background-size: 1.125rem 1.125rem;
	padding-right: 2.25rem;
	background-repeat: no-repeat;
	background-position: center right .5625rem;
}
